body {
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url("/images/background.jpg"); */
    height: 95%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#my-form {
    /* it should be right below #text-heading */
    margin-top: 30px;
    display: flex;
    justify-content: left center;
    align-items: center;
}


#my-form input {
    /* margin: 10px; */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}