
.form {
  background: #e27d5f;
  max-width: 360px;
  margin: 40px auto 100px;
  padding: 45px;
  text-align: center;
}

/* .pwd {
  background: 
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
} */
.username{
    background: #dfbac5;
  width: 100%;
  border: 0;
  border-radius: 8%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
body {
  background: #85cdca; 
  background: rgb(92, 173, 255);
  background: linear-gradient(90deg, rgb(116, 219, 217) 0%, rgb(12, 66, 82) 50%);
}

.form button{
    border-radius: 8px;
    background-color: #008CBA;
    color: white;
    padding: 10px 25px;
    text-align: center;
}

/*  */

input[type="password"] {
    background: #dfbac5;
    width: 100%;
    border: 0;
    border-radius: 8%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border: 0;

  }
